@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html{
    scroll-behavior: smooth;
}

* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

/* Navbar Links */
.navbar-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    font-size: 1.1em;
    text-decoration: none;
    color: #000;
}

.navbar-links a:hover{
color: #ff0000;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #000;
}

.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.arrow-up {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
}

.scroll-top-btn.show {
    display: block;
}


/* MAIN PAGE*/
.grid-container {
    width: 100%;
    display: flex;
    height: 45em;
  }

/* DIV 1 */
  .div1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

#btn-about{
    padding: 1.2em;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 1em;
    border-radius: 20px;
    cursor:pointer;
}

#btn-about:hover{
    background-color: #333;
}

.div1 > h1{
    font-size: 2em;
    font-family: 'League Spartan', sans-serif;
}

#name{
    font-size: 1.5em;
    font-family: 'League Spartan', sans-serif;
  }

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.text-container p{
    font-size: 1.15em;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

/* DIV 2*/
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.div2 > img{
    width: 35%;
}

#logo {
    width: 55%;
    height: auto;
    transform: translateX(0px);
    animation: float 5s ease-out infinite;
    object-fit: contain;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* ABOUT ME */
.about-me {
    width: 100%;
    height: auto;
    padding: 20px;
}

.about-container {
    max-width: 1000px;
    padding: 10px 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.about-container p {
    font-size: 1.05em;
    line-height: 1.8;
    text-align: center;
    color: #555;
}

#abouttxt {
    width: 100%;
}

#abouttxt > h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-bottom: 1px;
}

.about-txt > p {
    font-size: 1.0em;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
}

.icon-cont1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

/* Button Styling */
#btn-icon {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#btn-icon:hover {
    background-color: #555;
}

#btn-icon a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-cont2, .icon-cont {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    line-height: 30px;
    line-height: 1.5;
}

/* Icon Styling */
.color-icon {
    color: #333;
    transition: transform 0.7s ease, color 0.7s ease;
}

.color-icon:hover{
    transform: scale(2.0);
} 

.color-icon:active{
    transform: scale(1.9); 
}

.color-icon:hover {
    color: #555;
}

.color-icon{
    color: #000;
}

/* SKILLS */
.skills{
    width: 100%;
    height: auto;
}

.skills > h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}
.skils-cont{
    margin-top: 2em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 3em;
}

.skill-c{
    width: 500px;
    height: 70px;
    box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
}

.photoshop{
    width: 100%;
    height: auto;
    display: flex;
    height: auto;
    align-items: center;
}

.photoshop-txt{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 900;
    margin-right: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

#photoshop{
    width: 3.3em;
    margin: 10px;
}

.illustrator{
    margin-left: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

#illustrator-txt{
    width: 100%;
    height: auto;
    text-align: center ;
    font-size: 1.4em;
    font-weight: 900;
    margin-right: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

#illustrator{
    width: 3em;
    margin: 10px;
}

.ux-ui{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

#ux-ui{
    width: 5.5em;
}

#ux-ui-txt{
    width: 100%;
    height: auto;
    text-align: center ;
    font-size: 1.4em;
    font-weight: 900;
    margin-right: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

.after-effects{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

#after-effects{
    width: 3.3em;
    margin: 10px;
}

#after-effects-txt{
    width: 100%;
    height: auto;
    text-align: center ;
    font-size: 1.4em;
    font-weight: 900;
    margin-right: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* SERVICES */
#services-txt{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.card-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.card{
    width: 330px;
    height: 630px;
    border-radius: 7px;
    transition: transform 0.5s;
    box-shadow: #00000029 0px 2px 5px, #0000003b 0px 2px 5px;
}

.card:hover {
    transform: scale(1.05);
}

.card h1{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.card p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
}

.price h3{
 text-align: center;
 font-family: 'Montserrat', sans-serif;
}

.features h6{
    text-align: start;
    margin-left: 2em;
    font-size: 0.85em;
    font-family: 'Montserrat', sans-serif;
}
.features i{
    margin-right: 30px;
}

.button{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 2em;
}

.inizia-ora-button {
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 4.5em;
    cursor: pointer;
}


/* FOOTER */
footer > p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
}

/* RESPONSIVE FOR PHONE */
@media screen and (max-width: 767px){
    /* NAVBAR */
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        background-color: #fff;
        width: 100%;
        gap: 0;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links li {
        padding: 10px;
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }

    /* MAIN PAGE */
    .grid-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
      }
      .div1{
        width: 100%;
        height: auto;
      }
      .div2{
        width: 100%;
        height: auto;
      }
      #logo{
        margin-top: 5em;
        z-index: -1;
    }

    .rectangle-about {
        width: 75%; 
        margin-top: 25px;
        margin-left: 50px;
    }
    #abouttxt > h1 {
        font-size: 1.0em; 
    }
    .about-txt > p {
        font-size: 0.8em; 
    }

    #btn-icon {
        padding: 8px 16px; 
        font-size: 0.9em;
    }

    .color-icon {
        font-size: 1.5em;
    }
}